/* GLOBAL STYLES
-------------------------------------------------- */
.img-center {
  margin: 0px auto;
}
.bg-c-blue {
  background-color: #183862;
}
.bg-head {
  background-color: white;
}
.bg-control {
  background-color: #3d5dd5b5;
  border-radius: 5px;
  padding: 10px;
  color: white;
  width: 3rem;
  height: 3rem;
}